.header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  z-index: 100;
}

.left-section {
  width: 150px;
  display: flex;
  align-items: center;
}
.hamburger-menu {
  margin-left: 24px;
  margin-right: 24px;
  height: 24px;
  width: 24px;
}
.youtube-logo {
  height: 90px;
  width: 90px;
}

.middle-section {
  flex: 1;
  margin-left: 165px;
  margin-right: 210px;
  max-width: 560px;
  display: flex;
  align-items: center;
}
.search-bar {
  padding-left: 12px;
  margin-left: 90px;
  flex: 1;
  height: 36px;
  border-radius: 2px;
  border: 1px solid rgb(207, 202, 202);
  font-size: 16px;
  box-shadow: inset 1px 2px 3px rgba(0, 0,0, 0.05);
  width: 0;
  z-index: 50;
}
.search-bar::placeholder {
  font-size: 16px;
}
.search-bar:focus {
  outline: none;
  box-shadow: none;
  border-width: 1px;
  border-color: rgb(19, 19, 166);
}
.search-button {
  height: 39px;
  width: 65px;
  margin-right: 10px;
  background-color: rgb(246, 244, 244);
  border: 1px solid rgb(219, 217, 217);
  margin-left: -1px;
  position: relative;
}
.tool-kit {
  background-color: gray;
  font-size: 12px;
  color: white;
  padding: 5px 7px;
  position: absolute;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
}
.notifications-container .tool-kit{
  bottom: -50px;
}
.search-button .tool-kit {
  bottom: -40px;
}
.search-button,
.mic-button ,
.upload-button ,
.create-button ,
.notifications-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button:hover,
.mic-button:hover ,
.upload-button:hover ,
.create-button:hover ,
.notifications-container:hover{
  cursor: pointer;
}


.search-button:hover .tool-kit,
.mic-button:hover .tool-kit,
.upload-button:hover .tool-kit,
.create-button:hover .tool-kit,
.notifications-container:hover .tool-kit {
  opacity: 1;
}
.search-icon {
  height: 24px;
  width: 24x;
  margin: 0px 12px;
}
.mic-button {
  height: 40px;
  width: 40px;
  background-color: rgb(247, 247, 247);
  border: none;
  border-radius: 20px;
}
.mic-icon {
  height: 24px;
  width: 24px;
}

.right-section {
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 16px;
  flex-shrink: 0;
}
.upload-image,
.youtube-apps-image,
.notifications-image{
  height: 24px;
  width:24px;
}

.notifications-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: -2px;
  right: -4px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 10px;
  border-radius: 10px;
  height: 10px;
  width: 10px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.my-channel-pic {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}