.side-bar {
  position: fixed;
  top:50px;
  bottom: 0;
  left: 0;
  width: 72px;
  background-color: white;
  z-index: 200;
  padding-top: 10px;
}
.side-bar-link {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-bar-link:hover {
  background-color: rgb(232, 231, 231);
  cursor: pointer;
}
.side-bar img {
  height: 24px;
  margin-bottom: 6px;

}
.side-bar-text {
  font-size: 10px;
}
@media (min-width: 1200px) {

    .side-bar {
      position: fixed;
      top:50px;
      bottom: 0;
      left: 0;
      width: 240px;
      background-color: white;
      z-index: 200;
      padding-top: 20px;
    }
    .side-bar-link {
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      margin: 5px 0px;
    }
    .side-bar-link:hover {
      background-color: rgb(232, 231, 231);
      cursor: pointer;
    }
    .side-bar img {
      height: 24px;
      margin-right: 24px;
      margin-left: 24px;

    }
    .side-bar-text {
      font-size: 14px;
    }
    body {
      padding-left: 270px;
    }
}