.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.thumbnail-container {
  width: 100%;
  position: relative;
  margin-bottom: 3px;

}
.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 16px;
  right: 4px;
  font-size: 12px;
  font-weight: 550;
  padding: 4px;
  border-radius: 2px;
}
.thumbnail {
  width:100%;
  margin-bottom: 5px;
}
.video-preview {
  width: 100%;
  vertical-align: top;
}
.channel-picture-grid {
  display: grid;
  grid-template-columns: 12% 1fr;
  column-gap: 8px;
}
.channel-picture {
  width: 36px;
  border-radius: 20px;
}
.video-description {
  width: 85%;
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 20px;
}
.video-author {
  color: rgb(96, 96, 96);
  font-size: 12px;
    margin-bottom: 5px;
}
.video-stats {
  color: rgb(96, 96, 96);
  font-size: 12px;
}
@media (min-width: 1000px){
  .video-description{
    font-size: 16px;
    line-height: 24px;
  }
  .video-author,
  .video-stats,
  .video-time{
    font-size: 14px;
  }
}

@media (max-width: 800px){
  .video-grid{
  grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px){
  .video-grid{
  grid-template-columns: 1fr;
  }
}
@media (min-width: 800.02px) and (max-width:1199.98px){
  .video-grid{
  grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px){
  .video-grid{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}